<div *ngIf="!selectedCharacter">
  <h1>Hola, escoge algun personaje :D</h1>
  <div *ngFor="let group of groupedCharacters" class="character-row">
    <div class="character-card" *ngFor="let character of group" (click)="onCharacterClick(character.id)">
      <img [src]="character.image" alt="{{ character.name }}" class="character-image">
      <h2>{{ character.name }}</h2>
      <button class="select-button">Seleccionar</button>
    </div>
  </div>
</div>

<div *ngIf="selectedCharacter" class="selected-character-container">
  <img class="selected-character-image" [src]="selectedCharacter.image" alt="{{ selectedCharacter.name }}">
  <h2 class="character-name">{{ selectedCharacter.name }}</h2>
  
  <div class="selected-character-details">
    <p><strong>Status:</strong> {{ selectedCharacter.status }}</p>
    <p><strong>Species:</strong> {{ selectedCharacter.species }}</p>
    <p><strong>Origin:</strong> {{ selectedCharacter.origin.name }}</p>
  </div>

  <h3>Episodios:</h3>
  <ul class="episode-list">
    <li *ngFor="let episode of selectedEpisodes" class="episode-item">
      {{ episode.name }} (Temporada {{ episode.season }}, Episodio {{ episode.number }})
    </li>
  </ul>
  

  <button class="select-button back-button" (click)="goBack()">🐾 Regresar 🐾</button>
</div>
